<%- include('../../partials/header') %>

<div class="container">
    <div class="row top-buffer">
        <div class="col s5">
            <img class="show-view-image" src="data:image/<%= proposal.image.contentType%>;base64,
                                <%=proposal.image.data.toString('base64')%>">
            <h3 class="teal-text"><%= proposal.title %></h3>
            <p><%= proposal.description %></p>
        </div>
        <div class="col s2 center-area valign-wrapper">
            <i class="material-icons large teal-text center-align fill-parent">swap_horiz</i>
        </div>
        <div class="col s5">
            <img class="show-view-image" src="data:image/<%= bid.image.contentType%>;base64,
                                <%=bid.image.data.toString('base64')%>">
            <h3 class="teal-text"><%= bid.title %></h3>
            <p><%= bid.description %></p>
        </div>  
    </div>

    <div class="row">
        <form class="top-buffer col s12 row" action="/deals/create" method="POST">
            <div class="col s4"></div>
            <button class="btn teal clickable center fill-parent col s4" type="submit">
                <i class="material-icons left">thumb_up</i>Make A Deal
                <i class="material-icons right">thumb_up</i>
            </button>
            <div class="col s4"></div>
        </form>
    </div>

</div>

<%- include('../../partials/footer') %>