<%- include('../../partials/header') %>

<div class="container">
    <div class="row flex-list">
        <% proposals.forEach(proposal => { %>
            <a class="prop-card hoverable z-depth-1 no-pad col s3 top-buffer" href="/proposals/<%= proposal._id %>">
                <img src="data:image/<%= proposal.image.contentType%>;base64,
                             <%=proposal.image.data.toString('base64')%>" alt="image of <%= proposal.title %>">
                <h6 class="tiny-name"><%= proposal.ownerName %></h6>
                <p><%= proposal.title %></p>
            </a>
        <% }) %>
    </div>
</div>


<%- include('../../partials/footer') %>