<%- include('../../partials/header') %>

<img class="show-view-image" src="/uploads/<%= bid.image %>" alt="An image of <%= bid.title %>">

<div class="icon-couplet">
    <i class="material-icons">favorite_border</i>
    <p><%= bid.likes %></p>
</div>

<div class="icon-couplet">
    <i class="material-icons">visibility</i>
    <p><%= bid.views %></p>
</div>

<div class="icon-couplet">
    <i class="material-icons">message</i>
    <p><%= bid.comments.length %></p>
</div>

<p><%= bid.description %></p>

<% if (isOwner) { %> 
    <form action="/bids/<%= bid._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Trade Bid</button>
    </form>
<% } %>

<% if (bid.comments.length > 0) { %>
    <% bid.comments.forEach(comment => { %>
        <p><span><%= comment.owner %> </span> <%= comment.content %></p>
    <% }) %>
<% } else { %>
    <p>There are no comments yet</p>
<% } %>

<form action="/bids/<%= bid._id %>/comments" method="POST">
    <textarea name="content" cols="40" rows="4"></textarea>
    <button type="submit">Add Comment</button>
</form>

<%- include('../../partials/footer') %>